:root {
  --main-blue: #002f56;
  --main-blue-rgb: 0, 47, 86;
  --main-yellow: #ffc300;
  --border-style: var(--main-yellow) var(--border-width) solid;
  --border-width: 0.4vmin;
  /*wrapper height + menu wrapper height*/
  --total-max-height: calc((50vh + 2vh + 1vh + 2*var(--border-width)) + (4vh + var(--border-width)));
  --total-min-height: calc(10vh + 1vh + 0vh + 2*var(--border-width) + 4vh);
}

html {height: 100%; width: 100%; padding: 0; margin: 0; font-size: 62.5%; scroll-padding-top: var(--total-min-height); scroll-behavior: smooth;}
@media screen and (prefers-reduced-motion: reduce) {
  html {scroll-behavior: auto;}
}
.hidden {display: none; opacity: 0}
.pc-only {display: var(--display-type) !important;}
.mobile-only {display: none !important;}
body {padding: 0; margin: 0; background-color: white}
h1 {font-family: 'Josefin Sans'; color: var(--main-blue)}
nav {background-color: rgba(255, 255, 255, calc(0.5 + 0.5*var(--scrollRatio))); height: var(--nav-height); top: var(--nav-margin-top); width: calc(100% - 2vw); left: calc(1vw); border: var(--border-style); display: flex; align-items: center; position: fixed; z-index: 99; border-left: none; border-right: none}
#nav-background {height: var(--nav-height); top: calc(var(--nav-margin-top) + var(--border-width)); width: calc(100% - 2vw); left: calc(1vw); position: fixed; z-index: 97; background: url("img/banner.jpg"); background-size: cover; background-position: center;}
#items-wrapper {width: 100%; height: 100%; position: relative}
#items {width: auto; position: absolute; top: 50%; left: calc(50% * var(--scrollRatio)); transform: translate(calc(-50% * var(--scrollRatio)), -50%); display: flex; align-items: center}
#items figure {padding: 0; margin: 0}
#items img {padding: 0; margin: 0; height: calc(6vh + 24vh*var(--scrollRatio));}
#items h1 {
  --fs-d: calc(0.1vh + 0.4vh*var(--scrollRatio)); --fs-dn: calc(var(--fs-d)*-1); --fs-blur: 0.2vh;
  white-space: nowrap; font-size: calc(2.4vh + 9.6vh*var(--scrollRatio)); padding: 0; margin-left: calc(-1*(1.5vh + 7vh*var(--scrollRatio))); margin-bottom: calc(1.4vh + 3.5vh*var(--scrollRatio)); 
  text-shadow: 
    var(--fs-dn) var(--fs-dn) var(--fs-blur) var(--main-yellow),
    var(--fs-d) var(--fs-d) var(--fs-blur) var(--main-yellow),
    var(--fs-dn) 0px var(--fs-blur) var(--main-yellow),
    var(--fs-d) 0px var(--fs-blur) var(--main-yellow),
    0px var(--fs-dn) var(--fs-blur)  var(--main-yellow),
    0px var(--fs-d) var(--fs-blur) var(--main-yellow),
    var(--fs-dn) var(--fs-d) var(--fs-blur) var(--main-yellow),
    var(--fs-d) var(--fs-dn) var(--fs-blur) var(--main-yellow)
    ;
}
.subtitles {margin-top: 3vh;}
#nav-wrapper {background-color: var(--main-blue); width: 100%; height: var(--wrapper-height); position: fixed; z-index: 98; border-bottom: var(--border-style);}
.nav-vars {
  --scrollRatio: 0;
  --nav-height: calc(40vh * var(--scrollRatio) + 10vh);
  --nav-margin-top: calc(1vh + 1vh*var(--scrollRatio));
  --nav-margin-bottom: calc(1vh*var(--scrollRatio));
  --wrapper-height: calc(var(--nav-height) + var(--nav-margin-top) + var(--nav-margin-bottom) + 2*var(--border-width));
  --menu-height: 4vh;
  --menu-wrapper-height: calc(var(--menu-height) + var(--border-width));
  --menu-top: calc(var(--wrapper-height));
  --nav-placeholder-height: var(--total-max-height);
  --menu-border-margin: calc(1vw);
}
#nav-placeholder {height: var(--total-min-height); width: 100%}

#menu-wrapper {position: fixed; top: var(--menu-top); height: var(--menu-height); border-bottom: var(--border-style); width: 100%; box-shadow: 0.3vh 0.3vh 0.3vh 1vh rgba(var(--main-blue-rgb), 0.1)}
#menu {-webkit-flex-flow: horizontal no-wrap; flex-flow: horizontal no-wrap; position: relative; margin: 0; font-family: 'Josefin Sans', monospace; background-color: var(--main-blue); height: var(--menu-height)}
#menu li {-webkit-flex-grow: 2; flex-grow: 2; height: var(--menu-height)}
#menu {display: -webkit-flex; display: flex; -webkit-justify-content: center; justify-content: center;}
#menu, #menu li li {list-style: none;}
#menu a {height: inherit; color: var(--main-blue); display: flex; align-items: center; justify-content: center; text-decoration: none; background-color: white; font-size: 16px; font-size: 2rem; cursor: pointer}
#menu>li>a {--display-type: flex; }
#menu>li {margin: 0 0.5vw; position: relative; border-top: var(--border-style); border-bottom: none; margin-top: calc(-1*var(--border-width))}
#menu>li:first-of-type {margin-left:var(--menu-border-margin);}
#menu>li:last-of-type {margin-right: var(--menu-border-margin);}
#menu a:hover, #plat a:focus {background: #ddd; color: black;}
#menu li ul {visibility: hidden; opacity: 0; margin: 0; width: 100%; position: absolute; height: inherit}
#menu>li:hover>a , #menu>li:focus>a {background: #ddd; color: black}
#menu li:hover ul {visibility: visible; opacity: 1; border-top: var(--border-style)}
#menu li ul li { border-bottom: var(--border-style)}
#menu, #menu ul {-webkit-padding-start: 0; -webkit-margin-start: 0;} 

main {width: 100%; height: calc(100% - 54vh - 12px); display: flex; align-items: center; flex-direction: column}
main>div.lines {width: calc(100% - 4vw + var(--border-width)); border-left: var(--border-style); border-right: var(--border-style); background-color: var(--main-blue); display: flex; justify-content: center;}
main>div.lines>div {width: calc(100% - 3*var(--border-width)); border-left: var(--border-style); border-right: var(--border-style); background-color: white; display: flex; align-items: center; flex-direction: column}
main>div.lines>div>*:first-child {margin-top: 5vh}
main>div.title {background-color: var(--main-blue); width: 100%}
main>div.header {width: 100%; height: 10vmin; background: white; display: flex; align-items: center; justify-content: center; border: var(--border-style); border-left: none; border-right: none;  box-shadow: 1vh 1vh 1vh 0.3vh rgba(var(--main-blue-rgb), 0.1); z-index: 90}
.header h3 {color: var(--main-blue);}
main>div.first-header {border-top: none;}

h2 {font-family: 'Josefin Sans'; margin: 3vh 0 2vh 0; font-size: 40px; font-size: 5rem; text-align: center; color: var(--main-yellow);}
h3 {font-family: 'Josefin Sans'; color: var(--main-blue); font-size: 24px; font-size: 3rem}
p {font-family: 'Questrial'; font-size: 16px; font-size: 2rem;}
.text p b {font-size: 20px; font-size: 2.5rem; font-weight: 900; color: var(--main-blue)}
.items {width: calc(100% - 8px - 2vw); height: auto;  background-color: var(--main-blue); border: var(--border-style); display: flex; margin: 2vh 0 2vh 0; border-radius: 0.3vmin}
.items:first-of-type {margin-top: 0}
.items>* {width: 100%; margin: 1vh 0.5vw 1vh 0.5vw; border: var(--border-style); border-left: none; border-right: none; }
.items>*:first-child {margin-left: 1vw !important; margin-right: 0.5vw}
.items>*:last-child {margin-left: 0.5vw; margin-right: 1vw !important;}
.items .text {background-color: white; }
.items>figure {color: white; font-size: 5vh; position: relative; display: flex; align-items: center; justify-content: center;}
.items>figure img {width: 100%; max-height: calc(100%-2vh)}
.text h3 {width: calc(100% - 2vmin); margin-left: 1vmin}
.text p {width: calc(100% - 2vmin); margin-left: 1vmin}
.staff {border-left: unset; border-right: unset; display: grid; grid-template-columns: 50% 50%; width: 100% !important; margin: 1vh 1vw 1vh 1vw !important; border: var(--border-style); column-gap: 1vw; row-gap: 2vh; border-top: none; border-bottom: none;}
.staff .title {grid-column-start: 1; grid-column-end: 3; height: 10vh; font-size: 24px; font-size: 3rem; font-family: 'Josefin Sans'; color: white; border: var(--border); display: flex; align-items: center; justify-content: center}
.staff .title h4 {border: var(--border-style); border-left: none; border-right: none; margin: 0; padding: 1vh 0 0.5vh 0}
.staff .member {min-height: 10vh; display: flex; align-items: center; justify-content: center; }
.member figure {min-height:inherit; margin: 0; display: flex; align-items: center; justify-content: center;}
.member figure img {height: 80px; height: 10rem; border-radius: 100%}
.member .description {border: var(--border-style); border-left: none; border-right: none; padding: 1vh 0 0.5vh 0; margin-left: 0.5vw;}
.member .description>* {padding: 0; margin: 0}
.member .description h5 {font-family: 'Josefin Sans'; font-size: 16px; font-size: 2rem; color: var(--main-yellow)}
.member .description h6 {font-family: 'Questrial'; font-size: 12px; font-size: 1.5rem; color: white;}
footer {min-height: 20vmin; background-color: var(--main-blue); border-top: var(--border-style); display: flex; justify-content: center;}
footer p {margin: 0}
footer>div {margin: 4vh 3vw 4vh 3vw; display: flex; justify-content: center; flex-direction: column}
#copyright {max-width: calc(60% - var(--border-width)); margin-right: 2vw}
#border {width: var(--border-width); min-height: inherit; background-color: var(--main-yellow)}
#copyright p {font-size: 1.5rem; color: white}
#information {width: calc(40%); margin-left: 2vw}
.school-name {color: var(--main-yellow); font-size: 4rem; font-family: 'Josefin Sans'; overflow-x: hidden}
.address {color: white; font-size: 1.5rem}
.credit {font-size: 2rem; font-family: 'Questrial'; color: white}
.credit a {font-size: 2rem; font-family: 'Questrial'; color: var(--main-yellow)}

@media (orientation: portrait) {
  :root {
    --border-width: 0.8vmin
  }
  .nav-vars {
    --menu-height: 8vh;
    --nav-margin-top: 1vh;
    --total-max-height: calc((50vh + 1vh + 1vh + 2*var(--border-width)) + (8vh + var(--border-width)));
    --total-min-height: calc(10vh + 1vh + 0vh + 2*var(--border-width) + 8vh)
  }
  .pc-only {display: none !important;}
  .mobile-only {display: var(--display-type) !important;}
  #items h1 {font-size: calc(4.8vw + 9.6vw*var(--scrollRatio)); margin-left: calc(-1*(3vw + 7vw*var(--scrollRatio))); margin-bottom: calc(3vw + 3.5vw*var(--scrollRatio))}
  #items img {height: calc(12vw + 24vw*var(--scrollRatio))}
  main>div {width: calc(100% - 6vw + var(--border-width))}
  .items {flex-direction: column}
  .items>* {margin: 1vh 1vw 1vh 1vw; width: auto}
  .items>*:first-of-type {margin: 1vh 1vw 1vh 1vw}
  .items>*:last-of-type {margin: 1vh 1vw 1vh 1vw}
  .staff {grid-template-columns: 100%; width: auto !important;}
  .school-name {font-size: 5vw}
  .address {font-size: 2vw}
  .credit {font-size: 2.5vw}
  .credit a {font-size: 2.5vw}
  #copyright p {font-size: 2vw}
}

@media (max-height: 50rem) {
  #menu a {font-size: 3vh !important;}
}